<%= link_to "Create New Creature", new_creature_path %>
<ul>
  <% @creatures.each do |creature| %>
    <li>
      <strong>Name: </strong><%= link_to creature.name, creature_path(creature) %><br />
      <strong>Desc: </strong><%= creature.description %>
    </li>
  <% end %>
</ul>
