<%= link_to "Create New Creature", new_creature_path %>
<ul>
  <% @creatures.each do |creature| %>
    <li>
      <p>
      <strong>Name:</strong> <%= link_to creature.name %><br />
      <strong>Desc:</strong> <%= creature.description %>
      </p>
    </li>
  <% end %>
</ul>
